/* the * indicates universal styles, we will get into that later in the semester
for now, you can leave these alone */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

body {

    color: #26241C;
    background-color: #c6f3e4;
}

img {
    width: 50%;
    display: block;
    margin:auto;
    margin-bottom: 1rem;
}

nav {
  background-color: black;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

nav li {
  background-color: black;
  padding: 7px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}

nav a:hover {
  color: rgb(176, 175, 175);
}
