* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1695A3;
    color: #ffffff;
}

p {
    color:  #EB7F00;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}